body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
}

.card {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      max-width: 600px;
      width: 100%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
}

.button:hover {
      background-color: #0056b3;
}

.input {
      width: 95%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
}

.timer, .symptom, .result {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: bold;
}

.symptom-list {
      margin-bottom: 15px;
      font-size: 16px;
}

.symptom-box {
      background-color: #f0f0f0;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      margin: 5px 0;
      font-size: 16px;
}

#restartBtn {
  margin-top: 15px;

}

.result {
  margin-top: 5px;
}

.s1 {
  width: 100vw;
  height: 7vw;
  min-height: 80px;
  text-align: center;
  vertical-align: center;
  border: 2px dashed red;
  background-color: #001120;
  color: #dddddd;
  font-size: 20px;
  margin-top: -28px;
  margin-bottom: 35px;
}

h1 {
  margin: auto;
}

.s2 {
  
}

#guessTracker {
      margin-top: 20px;
      max-width: 400px;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#guessesList {
      display: flex; /* Enable horizontal layout */
      flex-wrap: wrap; /* Allow wrapping to the next row if necessary */
      gap: 10px; /* Add space between guesses */
      padding: 0;
      list-style-type: none;
      margin: 0;
    }
    
#guessesList li {
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
      font-size: 14px;
      white-space: nowrap; /* Prevent breaking words */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
